.posts__page
    .hero
        .meta
            margin-top: $spacing-3
            &__date
                margin-bottom: $spacing-1
                @include media-breakpoint-up(desktop)
                    display: inline
            &__authors
                padding-left: 0
                list-style: none
                @include media-breakpoint-up(desktop)
                    display: inline
                    &::before
                        content: " • "
                li
                    display: inline  
            &__categories
                display: block
                list-style: none
                padding-left: 0
                margin-top: $spacing-3
                li
                    display: inline
                    margin-right: $spacing-2
                    a
                        line-height: 100%
                        background: $color-background
                        border-radius: 50px
                        text-decoration: none
                        padding: 0px 15px 4px
                        &:hover
                            background: $color-text-alt
                            color: $color-background