.posts__page
    .hero
        .hero-meta
            margin-top: $spacing-3
            gap: space()

            .authors
                padding-left: 0
                a
                    @include link(var(--color-text))
                
                @include media-breakpoint-up(desktop)
                    display: inline-flex
                    &::before
                        content: " • "
                        margin-right: space()

            .taxonomies
                padding-left: 0
                margin-top: $spacing-3
                li
                    display: inline
                    a
                        line-height: 100%
                        background: $color-background
                        border-radius: 50px
                        text-decoration: none
                        padding: 0px 15px 4px
                        &:hover
                            background: $color-text-alt
                            color: $color-background
                .taxonomy-children
                    gap: space(3)