.page__home
    .hero
        margin-bottom: $spacing2
.lead
    font-style: italic

header#document-header
    .logo
        img
            transition: height 0.25s ease
    @include media-breakpoint-up(desktop)
        &.is-sticky
            .logo
                img
                    height: 60px
    .menu 
        .nav-level-2
            span
                padding-left: 0
                padding-bottom: 0
                margin-bottom: 0
                color: $color-text-alt !important
                font-family: $body-font-family
                font-style: italic
                font-size: px2rem(16)
                &::after
                    content: ""
                    display: block
                    margin-top: $spacing0
                    background: $color-accent
                    height: 1px
                    width: 50px

@include media-breakpoint-up(desktop)
    .menu 
        .has-children:not(.header-i18n) 
            .nav-level-2
                grid-template-columns: repeat(3, 1fr)

.blocks
    .block-video
        @include in-page-without-sidebar
            background-color: $color-light
            padding-bottom: $spacing3
            padding-top: $spacing3
            .video
                width: col(8)

.events
    @include in-page-with-or-without-sidebar
        .event-dates
            @include h2
            .event-time
                @include meta
                margin-top: $spacing0

.post-infos
    .social-share
        display: none