<div class="meta">
  <p class="meta__date">
    {{ $created_at := .context.Date }}
    {{ $updated_at := .context.Params.lastmod }}
    {{ $format := site.Params.posts.date_format }}
    {{ $created_at_formatted := $created_at | time.Format $format }}
    {{ $updated_at_formatted := $updated_at | time.Format $format }}
    <time datetime="{{ $created_at.Format "2006-01-02T15:04" }}">
      {{ $created_at_formatted -}}
    </time>
    {{- if not (eq $created_at_formatted $updated_at_formatted) -}}
      , modifié le  
      <time datetime="{{ $updated_at.Format "2006-01-02T15:04" }}">
        {{ $updated_at_formatted -}}
      </time>
    {{ end }}
  </p>
  {{ $authors := .context.GetTerms "authors"}}
  {{ if $authors }}
    <ul class="meta__authors">
      {{ range .context.GetTerms "authors" }}
        <li>
          <a href="{{ .Permalink }}" itemprop="url">
            <span itemprop="name">{{ safeHTML .Params.person }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  {{ partial "commons/categories.html" (dict 
    "type" "posts"
    "class" "meta__categories"
    "context" .context
  ) }}
</div>